@import "./stylesheets/groundwork-2.5.0.min.css";

body {
    padding: 5px;
}
main.container {
    width: 280px;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}
#screen {
    background-color: #000;
    z-index: 3;
}
#front_led        { margin: 0.3em; }
#front_led.on     {  }
#front_led.off    { filter: grayscale(100%); }
#front_led.paused { filter: hue-rotate(60deg) brightness(120%); }

button {
    min-width: 68px;
}
.middle {
    margin-top: auto;
    margin-bottom: auto;
}
.waiting {
    opacity: 0;
}